useDynLib(dccmidas, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
S3method(print,dccmidas)
S3method(summary,dccmidas)
export(cov_eval)
export(dcc_fit)
export(dcc_loglik)
export(dcc_mat_est)
export(dccmidas_loglik)
export(dccmidas_mat_est)
export(deco_loglik)
export(deco_mat_est)
export(print.dccmidas)
export(summary.dccmidas)
import(maxLik)
import(roll)
import(rugarch)
import(rumidas)
import(xts)
importFrom(Rdpack,reprompt)
importFrom(utils,capture.output)
